*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100vw;
    height: 100vh;

    /* Prefijos de proveedores */
    /* -webkit- Chrome safari y todos ios
    -moz- Mozilla firefox
    -o- Opera
    -ms- IExplorer y Edge */
    /* background: -webkit-linear-gradient(left, rgb(255, 0, 234) 50%, red);
    background: -moz-linear-gradient(left, rgb(255, 0, 234) 50%, red);
    background: -o-linear-gradient(left, rgb(255, 0, 234)  50%, red);
    background: -ms-linear-gradient(left, rgb(255, 0, 234) 50%, red); */

    background: -webkit-radial-gradient(circle, rgb(255, 0, 234) 50%, red);
    background: -moz-radial-gradient(circle, rgb(255, 0, 234) 50%, red);
    background: -o-radial-gradient(circle, rgb(255, 0, 234)  50%, red);
    background: -ms-radial-gradient(circle, rgb(255, 0, 234) 50%, red); 

}

.hero p{
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}